[submodule "cellprofiler"]
	path = cellprofiler
	url = https://github.com/ome/omero-guide-cellprofiler.git
[submodule "matlab"]
	path = matlab
	url = https://github.com/ome/omero-guide-matlab.git
[submodule "qupath"]
	path = qupath
	url = https://github.com/ome/omero-guide-qupath.git
[submodule "fiji"]
	path = fiji
	url = https://github.com/ome/omero-guide-fiji.git
[submodule "orbit"]
	path = orbit
	url = https://github.com/ome/omero-guide-orbit.git
[submodule "r"]
	path = r
	url = https://github.com/ome/omero-guide-r.git
[submodule "figure"]
	path = figure
	url = https://github.com/ome/omero-guide-figure.git
