[submodule "cellprofiler"]
	path = cellprofiler
	url = https://github.com/ome/omero-guide-cellprofiler.git
[submodule "matlab"]
	path = matlab
	url = https://github.com/ome/omero-guide-matlab.git
[submodule "qupath"]
	path = qupath
	url = https://github.com/ome/omero-guide-qupath.git
[submodule "fiji"]
	path = fiji
	url = https://github.com/ome/omero-guide-fiji.git
[submodule "orbit"]
	path = orbit
	url = https://github.com/ome/omero-guide-orbit.git
[submodule "r"]
	path = r
	url = https://github.com/ome/omero-guide-r.git
[submodule "figure"]
	path = figure
	url = https://github.com/ome/omero-guide-figure.git
[submodule "trackmate"]
	path = trackmate
	url = https://github.com/ome/omero-guide-trackmate.git
[submodule "python"]
	path = python
	url = https://github.com/ome/omero-guide-python.git
[submodule "parade"]
	path = parade
	url = https://github.com/ome/omero-guide-parade.git
[submodule "fpbioimage"]
	path = fpbioimage
	url = https://github.com/ome/omero-guide-fpbioimage.git
[submodule "iviewer"]
	path = iviewer
	url = https://github.com/ome/omero-guide-iviewer.git
[submodule "upload"]
	path = upload
	url = https://github.com/ome/omero-guide-upload.git
