/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

/* Custom styles for icon column of the API table */
#omero-application-programming-interfaces td:nth-child(1) {
   padding: 5px;
   min-width: 40px;
}
